/* This file will hold less variables. */


@color-base: #8d8d8d;
@color-background: #f9f9f9;
@color-title: #a60612; //red
@color-link: #8f5765;
@color-zones: #ffffff;

@color-menu-background: @color-title;
@color-menu-text: @color-zones;
@color-menu-text-active: @color-zones;

@color-sidebar-header: @color-title;
@color-sidebar-header-text: @color-zones;

@color-footer: #d2d3d5;

@font-base: Arial, Helvetica, sans-serif;
@font-header: Arial, Helvetica, sans-serif;
@font-header-sub: Arial, Helvetica, sans-serif;


/* Mixin */

@import "_elements.less";
