/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import '_variables.css.less';


body {
    background: @color-background;
    font: 13px @font-base;
    line-height: 24px;
    color: @color-base;
}

h1, h2, h3, h4, h5 {
    text-rendering: optimizelegibility;
}

h1 {
    font-family: @font-header;
    font-weight: 100;
    line-height: 1em;
}

h2 {
    color: #414141;
    font-family: @font-header-sub;
    font-weight: bold;
}

a:link, a:visited {
    color: @color-link;
}
